

body{
    background-color: rgb(238, 238, 252);
    /* min-height: 75rem;
  padding-top: 4.5rem; */
}

.jumbo{
    background-image:url("/images/fondo.jpg");
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}